{% extends 'blog/blog.html.twig' %}
{% block content_blog %}

    {% for msg in app.session.flashBag.get('info') %}
        <p>{{ msg }}</p></br>
    {% endfor %}

    {% if(articles|length > 0) %}
        <ul>
            {% for article in articles %}
                </br><a>Categories disponibles : </a>
                {% for category in article.category %}
                    <a href="{{ url('app_blog_category', {'id': category.id}) }}">{{ category.name }}</a>
                {% endfor %}

                {% set id = article.id %}
                <li><a href="{{ url('app_blog_article', {'id': id}) }}">{{ article.title }} </a> : {{ article.content | truncate(20)}}

                    </br><a>Categories : </a>
                    {% for category in article.category %}
                        <br>
                        <a>{{ category.name }}</a>
                    {% endfor %}

                    </br><a>Message : </a>
                    {% for comment in article.comments %}
                        <br>
                        <a>{{ comment.author }} / {{ comment.title }} : {{ comment.message }}</a>
                    {% endfor %}
                    </br></br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}