{% if(article|length > 0) %}

        {% if app.user %}
            <div class="mb-3">
                {% trans %}You are logged in as {% endtrans %}{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
        {% else %}
            <div class="mb-3">
                <a href="{{ path('app_login') }}">{% trans %}Connexion{% endtrans %}</a>
            </div>
        {% endif %}

        <a>{% trans %}Categories disponibles{% endtrans %} : </a>
        {% for categories in categories %}
            <a href="{{ url('app_blog_category', {'id': categories.id}) }}">{{ categories.name }}</a>
        {% endfor %}
    <ul>
        {% for article in article %}
            <li><a href="{{ url('app_blog_article', {'id': article.id}) }}">{{ article.title }} </a></li>
        {% endfor %}
    </ul>
{% endif %}