{% extends 'blog/blog.html.twig' %}
{% block content_blog %}

    {% for msg in app.session.flashBag.get('info') %}
        <p>{{ msg }}</p></br>
    {% endfor %}

    {% if(article|length > 0) %}
        <ul>
            {% for article in article %}
                {% set id = article.id %}
                <li><a href="{{ url('app_blog_article', {'id': id}) }}">{{ article.title }} </a> : {{ article.content | truncate(20)}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block comment %}
        {% for comment in comment %}
            <li><a>{{ comment.title }}</a></li>
        {% endfor %}
    {% endblock %}

    {% if(article.count > 5) %}
        {% set nbPage = article.count/5 %}
            {% for i in 0..nbPage %}
                <a href="{{ url('app_blog_list', {'page': (i+1)}) }}">{{ i+1 }}</a>
            {% endfor %}
        </br>
    {% endif %}

{% endblock %}