{% extends 'blog/blog.html.twig' %}

{% block h1 %}<h1>{{ article.title }}</h1>{% endblock %}

{% block content_blog %}

    {% for msg in app.session.flashBag.get('info') %}
        <p>{{ msg }}</p></br>
    {% endfor %}

    <a>{{ article.content }}</a></br>
    <button type="button" onclick="location.href = '{{ url('app_blog_delete', {'id': article.id}) }}';">Supprimer</button>
    <button type="button" onclick="location.href = '{{ url('app_blog_edit', {'id': article.id}) }}';">Modifier</button>
    </br>
{% endblock %}